# {{ ansible_managed }}
Listen 8000

<VirtualHost *:8000>
	DocumentRoot c:\ColdFusion8\wwwroot
	CustomLog "logs/cfadmin.log" common
</VirtualHost>

<Directory c:/ColdFusion8/wwwroot>
    Order allow,deny
    Allow from all
</Directory>