#Silent properties for ColdFusion 2016
 
INSTALLER_UI=SILENT
 
#Valid Values are full/trial/developer 
SILENT_LICENSE_MODE=full
 
SILENT_SERIAL_NUMBER={{ CF_LICENSE }}
 
 
#Valid values are ear/war/standalone
 
SILENT_INSTALLER_TYPE=standalone
 
SILENT_INSTALL_ODBC=false
 
SILENT_INSTALL_JNBRIDGE=false
 
#Remote administrator component for server remote start/stop
SILENT_INSTALL_ADMIN=true
 
SILENT_INSTALL_SOLR=false
 
SILENT_INSTALL_PDFG=false
 
SILENT_INSTALL_SAMPLES=false

#For Linux it would be as /opt/coldfusion2016 (Change it as per your path)
SILENT_INSTALL_FOLDER=C:\\ColdFusion8
 
#Enable one of Prod(secure/prod)/dev profile. These 3 are mutually exclusive and only one of them can be ture and others are false.
 
SILENT_ENABLE_PROD_SECURE_PROFILE=true
 
SILENT_ENABLE_PROD_DEFAULT_PROFILE=false
 
SILENT_ENABLE_DEV_PROFILE=false

 
SILENT_ADMIN_USERNAME=admin
 
SILENT_ADMIN_PASSWORD={{ cf_admin_password }}
 
SILENT_ENABLE_RDS=false
 
 
#Applicable only if production OR Production+Secure profile is enabled. For Dev profile, all are enabled by default.
 
ENABLE_RDS=false
 
ENABLE_WSRP=false
 
ENABLE_JSDEBUG=false
 
ENABLE_CFR=false
 
ENABLE_CFSWF=false
 
ENABLE_CFFORMS=false