<wddxPacket version="1.0">
	<header/>
	<data>
		<struct type="coldfusion.server.ConfigMap">
			<var name="contexts">
				<struct type="coldfusion.server.ConfigMap">
					<var name="/">
						<struct type="coldfusion.server.ConfigMap">
						</struct>
					</var>
				</struct>
			</var>
			<var name="rds.security.enabled">
				<boolean value="true"/>
			</var>

			<var name="admin.security.enabled">
				<boolean value="{{ admin_security_enabled | default('true') }}"/>
			</var>
			<var name="admin.userid.root">
				<string>admin</string>
			</var>
			<var name="sbs.security.enabled">
				<boolean value="false"/>
			</var>
			<var name="CrossSiteScriptPatterns">
				<struct type="coldfusion.server.ConfigMap">
					<var name="&lt;\s*(object|embed|script|applet|meta)">
							<string>&lt;InvalidTag</string>
					</var>
				</struct>
			</var>
		</struct>
	</data>
</wddxPacket>
